/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,600');

::selection { background: lightgrey; }
#uiuc::selection{
  background-color: #EDBB99;
}

html {
  scroll-behavior: smooth;
}

body, .small {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; !important;
  font-size: .9em;
  line-height: 1.75em;
}

header {
  padding-top: 3rem;
}

section {
  padding-top: 2rem;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-image: linear-gradient(to right, black, black);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  text-decoration: none !important;
}

/* Content tabs a */
#content-tabs a {
  text-decoration: none;
}

/* Social Icons a color */
.social-icons a {
  color: black;
  background: none;
}

/* User Image */
.user-image {
  width: 140px;
  height: 140px;
  border: 1px solid black;
}

/* Content Switcher */
.list-group-item.active {
  color: white !important;
  background: black !important;
  border-color: black !important;
}

.list-group a {
  color: black !important;
}

@media screen and (max-width: 768px) {
  header .col-lg-2 {
    padding-bottom: 3rem;
  }

  .timeline-container:before {
    left: 8px;
    width: 2px;
  }

  .timeline-block {
     width: 100%;
     margin-bottom: 30px;
  }
  .timeline-block-right {
     float: none;
  }

  .timeline-block-left {
     float: none;
     direction: ltr;
  }
 
 .timeline-block-left .timeline-content {
   text-align:left;
   order: 2;
 }
 
 .timeline-block-left .marker {
   order: 1;
 }
}
